.time{
    position: relative;
    z-index: 1;
    padding: 3.2rem 2.6rem;
    transform: translateY(0);
    transition: transform .35s ease-in;

}

.upwards{
    transform: translateY(-76%);
}

.time p{
    color: #fff;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#greetings{
    display: flex;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
}

#greetings img{
    width: 22px;
    height: 24px;
}

#greetings p::before{
    content: "";
}

#local_time{
    display: flex;
    margin-bottom: 1.6rem;
    justify-content: start;
    align-items: center;
}

.time h1{
    color: #fff;
    font-size: 10rem;
    font-style: normal;
    font-weight: 700;
    line-height: 10rem; 
    letter-spacing: -2.5px;
    padding-right: 1.6rem;
}

.time span{
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.8rem;
    text-transform: uppercase;
}

.time #location{
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 4.8rem;
}

#timezone {
    padding-top: 3.7rem;
}

#timezone p{
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

button{
    width: 11.5rem;
    height: 4rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
    letter-spacing: 3.75px;
    text-transform: uppercase;
    border-radius: 2.8rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

button:active{
    transform: scale(0.98);
}

button:hover{
    cursor: pointer;
}

.circle{
    height: 3.2rem;
    width: 3.2rem;
    background-color: #303030;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover{
    background-color: #999999;
}

 button > img {
    width: 3.2rem;
    height: 3.2rem;
}

.rotate{
    transform: rotate(180deg);
}

button>img:hover{
    border-color: #999999;
}

#line{
    display: none;
}


@media screen and (min-width: 768px) {
    .time{
        padding: 0 6.4rem 6.4rem
    }
    .time p{
        font-size: 1.8rem;
        line-height: 28px;
        letter-spacing: 3.6px;
    }
    .time h1{
        color: #FFF;
        font-size: 17.5rem;
        font-weight: 700;
        line-height: 17.5rem;
        letter-spacing: -4.375px;
    }
    #local_time{
        gap: 2rem;
    }
    #timezone{
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: baseline;
    }
    p.zones{
        font-size: 3.2rem;
    }
    #location{
        font-size: 1.8rem;
        letter-spacing: 3.6px;
    }
    #greetings p::after{
        content: ", it's currently";
    }
    .upwards{
        transform: translateY(-44rem);
    }
    button{
        width: 14.6rem;
        justify-content: space-around;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 5px;
        height: 5.6rem;
    }
    button > img{
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (min-width: 1440px) {
    .time{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: 16.5rem;
        padding-right: 16.5rem;
        padding-bottom: 9.8rem;
    }
    .time h1{
        font-size: 20rem;
        line-height: 20rem;
        letter-spacing: -5px;
    }
    .time p{
        font-size: 2rem;
    }
    .time #location{
        font-size: 2.4rem;
        margin-bottom: 0;
    }
    .upwards{
        transform: translateY(-39rem);
    }
    #timezone{
        font-size: 7.7rem;
    }
}