.main_section{
    position: relative;
    overflow: hidden;
    z-index: -1;
    background-image: url(../assets/mobile/bg-image-daytime.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 3.2rem 2.6rem;
    justify-content: space-between;
}

.darken{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.quote{
    position: relative;
    z-index: 1;
    display: flex;
    gap: 1.6rem;
}

#refresh{
    width: 1.6rem;
    height: 1.6rem;
}

.quote p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.2rem;
}

#quote_author{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.2rem;
} 

.time{
    position: relative;
    z-index: 1;
}

.time p{
    color: #fff;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#greetings{
    display: flex;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
}

#local_time{
    display: flex;
    align-items: baseline;
    margin-bottom: 1.6rem;
}

.time h1{
    color: #fff;
    font-size: 10rem;
    font-style: normal;
    font-weight: 700;
    line-height: 10rem; 
    letter-spacing: -2.5px;
}

.time span{
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.8rem;
    text-transform: uppercase;
}

.time #location{
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 4.8rem;
}

button{
    width: 11.5rem;
    height: 4rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
    letter-spacing: 3.75px;
    text-transform: uppercase;
    border-radius: 2.8rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

 button > img {
    width: 3.2rem;
    height: 3.2rem;
    transform: rotate(180deg);
}


.show_more{

}



/* .details{
    display: block;
    position: absolute;
    z-index: 2;
} */